* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  min-height: 80vh;
  text-align: center;
  padding: 2.5rem;
  display: grid;
  gap: 2rem;
}

.container > * {
  margin: 0 auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #403249;
  border-radius: 1.5rem;
  text-align: left;
  max-width: 35rem;
}

.card--1 {
  height: 47rem;
}

.card--2 {
  height: 47rem;
  max-width: 60rem;
}

.card--3 {
  display: none;
}

.card__label {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: #bbc1cf;
  text-transform: uppercase;
  padding: 0.2rem 1rem;
  border-radius: 3rem;
}

.card__body {
  padding: 2.5rem;
}

.card__info {
  color: #acb4c4;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.card__heading {
  margin-bottom: 1.2rem;
}

.card__link {
  text-decoration: none;
}

.card__image {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
}

.card__image--1 {
  background-image: url("../truck.jpg");
}

.card__image--2 {
  background-image: url("../airship.jpg");
}

.card__image--bottom {
  border-radius: 0 0 1.5rem 1.5rem;
}

.card__image--top {
  border-radius: 1.5rem 1.5rem 0 0;
}

.card__author {
  display: flex;
  margin: 2rem 0;
}

.card__author__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card__author__date {
  color: #acb4ac;
  font-size: 1.3rem;
}

.card__author__image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}
