* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  min-height: 80vh;
  text-align: center;
  padding: 2.5rem;
  display: grid;
  gap: 2rem;
}

.container > * {
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #403249;
  border-radius: 1.5rem;
  text-align: left;
  max-width: 35rem;
}

.card--1 {
  height: 47rem;
}

.card--2 {
  background-color: orangered;
  height: 47rem;
  max-width: 60rem;
}

.card--3 {
  display: none;
}

.card__body {
  padding: 2.5rem;
}

.card__info {
  color: #acb4c4;
  font-size: 1.4rem;
  margin: 1rem 0;
}

.card__heading {
  margin-bottom: 1.2rem;
}

.card__link {
  text-decoration: none;
}

.card__image {
  flex-grow: 1;
  background-size: cover;
}

.card__image--1 {
  background-image: url('../truck.jpg');
}

.card__image--2 {
  flex-grow: 0.5;
  background-image: url('../airship.jpg');
}

.card__image--bottom {
  border-radius: 0 0 1.5rem 1.5rem;
}
