.card {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  color: #403249;
  border-radius: 1.5rem;
  text-align: left;

  max-width: 35rem;

  &--1 {
    height: 47rem;
  }

  &--2 {
    height: 47rem;
    max-width: 60rem;
  }

  &--3 {
    display: none;
  }

  &__label {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;

    background-color: lighten($color: #acb4c4, $amount: 5);
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    border-radius: 3rem;
  }

  &__body {
    padding: 2.5rem;
  }

  &__info {
    color: #acb4c4;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  &__heading {
    margin-bottom: 1.2rem;
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    flex-grow: 1;
    background-size: cover;
    background-position: center;

    &--1 {
      background-image: url('../truck.jpg');
    }

    &--2 {
      background-image: url('../airship.jpg');
    }

    &--bottom {
      border-radius: 0 0 1.5rem 1.5rem;
    }

    &--top {
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }

  &__author {
    display: flex;
    margin: 2rem 0;

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__date {
      color: #acb4ac;
      font-size: 1.3rem;
    }

    &__image {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}
