.card {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  color: #403249;
  border-radius: 1.5rem;
  text-align: left;

  //   box-shadow: 0 0.5rem 3rem rgba(#000000, 0.15);

  max-width: 35rem;

  &--1 {
    height: 47rem;
  }

  &--2 {
    background-color: orangered;
    height: 47rem;
    max-width: 60rem;
  }

  &--3 {
    display: none;
  }

  &__body {
    padding: 2.5rem;
  }

  &__info {
    color: #acb4c4;
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  &__heading {
    margin-bottom: 1.2rem;
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    flex-grow: 1;
    background-size: cover;

    &--1 {
      background-image: url('../truck.jpg');
    }

    &--2 {
      flex-grow: 0.5;
      background-image: url('../airship.jpg');
    }

    &--bottom {
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
}
