* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  background-color: #f3f3f3;
  min-height: 80vh;
  text-align: center;
  padding: 2.5rem;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  > * {
    margin: 0 auto;
  }
}
